option_settings:
  aws:elasticbeanstalk:application:environment:
    LOG_LEVEL: INFO
    LOG_DIR: /var/log/webapp
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 14
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
